Body{
  background-color: rgb(172, 179, 255);
}


.header{
  display: flex;
  justify-content: flex-end;
  padding-right: 2.0%;
  padding-top: 10px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search input{
  width: 380px;
  padding: 12px 20px;
  margin: 8px 15px;
  box-sizing: border-box;
  border-radius: 25px;
}

.search button{
  padding: 0px 20.0px;
  border-radius: 20px;
  margin-left: 7.5px;
  min-height: 15px;
  height: 45.0px;
}

.profileData{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.protfolio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ensAvatar{
  display: flex;
}

.ensAvatar img{
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.sendTransaction{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

}

.sendTransaction div{
  margin: 5px;
}

.sendTransaction button{
  margin-right: 10px;
}